<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Archi | architectural studio</title>

    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">

	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">

	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/device.js"></script>	
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/core.js"></script>
	<script type="text/javascript" src="js/script.js"></script>

	<!--[if lt IE 9]>
        <div style='text-align:center'><a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div>  
    <![endif]-->
</head>
<body>
<div id="webSiteLoader"></div>
<div id="glob-wrap" class="main_bg">
	<header>
		<!--logo and company name-->  
		<h1 class="noDisplay"><a href="index.html"><img src="img/logo.png" class="img-responsive" alt=""></a></h1>
		<!--menu-->
		<div class="pull-right headerHolder">
			<div class="holder_3d pull-right"><a href="gallery.html#" id="menuToggler"><div><span></span></div></a></div>
			<ul class="soc_links">
				<li><a href="gallery.html#" class="fa fa-rss"></a></li>
				<li><a href="gallery.html#" class="fa fa-twitter"></a></li>
				<li><a href="gallery.html#" class="fa fa-facebook"></a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
		<nav id="mainNav" class="mainNav hideMenu" data-follow="location" data-type="navigation">
			<ul>
				<li><a href="index.html">Main Page</a></li>
				<li><a href="about.html">About Us</a>
					<div class="sf-mega">
						<ul>
							<li><a href="readmore.html">history</a></li>
							<li><a href="readmore.html">news</a></li>
							<li class="last"><a href="readmore.html">awards</a></li>
						</ul>
					</div>
				</li>
				<li><a href="gallery.html">Gallery</a></li>
				<li><a href="contacts.html">Contacts</a></li>
			</ul>
		</nav>
		
	</header>
	<!-- <article id="content" data-follow="location" data-type="switcher"> -->
	<article id="content" data-follow="location" data-type="switcher" data-behavior="scroll">
		<div data-id="" id="page1">
			<div class="bgHolder">
				<div class="bg1"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-12 textAlignCenter">
						<a href="about.html" class="box inlineBlock bigLogo"><img src="img/logo_big.png" class="img-responsive" alt></a>
					</div>
				</div>
			</div>
		</div>
		<div data-id="about" id="page2">
			<a href="index.html" class="logo"><img src="img/logo.png" alt=""></a>
			<div class="bgHolder">
				<div class="bg2"></div>
				<div class="backgroundPlane"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-5 col-md-7 col-sm-10 col-lg-offset-1 padding3">
								<h2>Hello!</h2>
								<div class="padding1">
									<p class="title">Vivamus eget nibhm cu leo vel metusulla facilis nec eros um ante</p>
									<p>Quisque nulla. Vestibulum libero nisl, porta vel, scelerisque eget, maleat, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum  in faucibus orci luctus et ultrices posuere cubilia Cudisse sollicit.</p>
								</div>
								<p class="padding2"><a href="readmore.html" class="btn">Read More<span class="fa fa-angle-double-right"></span></a></p>
								<img src="img/page2_pic1.png" id="page2_item1" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div data-id="gallery" id="page3">
			<a href="index.html" class="logo"><img src="img/logo.png" alt=""></a>
			<div class="bgHolder">
				<div class="bg3"></div>
				<div class="backgroundPlane"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xm-offset-1 part1">
							<div class="row">
								<div id="owl" class="owl-carousel">
			                        <div class="item">  
			                            <div class="left">
			                            	<img src="img/page3_pic1.jpg" alt="">
			                            </div>
			                            <div class="right">
			                            	<div>
				                            	<h3>Project 1</h3>
				                            	<p class="title">Facilis nec eros um ante ipsum primis  in cibus orci luctus et ultrices posuere cubilia Curae.</p>
				                            	<p>Quisque nulla. Vestibulum libero nisl, porta vel, scelerisque eget, maleat, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum  in faucibus orci luctus et ultrices posuere cubilia Cudisse sollicit.</p>
				                            	<p class="padding2 desc_btn"><a href="gallery-full_1.html" class="btn">View Gallery<span class="fa fa-angle-double-right"></span></a>
				                            	<p class="padding2 mobile_btn"><a href="project1.html" class="btn">View Gallery<span class="fa fa-angle-double-right"></span></a></p>
			                            	</div>
			                            </div>
			                        </div>
			                        <div class="item">  
			                            <div class="left">
			                            	<img src="img/page3_pic2.jpg" alt="">
			                            </div>
			                            <div class="right">
			                            	<div>
				                            	<h3>Project 2</h3>
				                            	<p class="title">Facilis nec eros um ante ipsum primis  in cibus orci luctus et ultrices posuere cubilia Curae.</p>
				                            	<p>Quisque nulla. Vestibulum libero nisl, porta vel, scelerisque eget, maleat, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum  in faucibus orci luctus et ultrices posuere cubilia Cudisse sollicit.</p>
				                            	<p class="padding2 desc_btn"><a href="gallery-full_2.html" class="btn">View Gallery<span class="fa fa-angle-double-right"></span></a>
				                            	<p class="padding2 mobile_btn"><a href="project2.html" class="btn">View Gallery<span class="fa fa-angle-double-right"></span></a></p>
			                            	</div>
			                            </div>
			                        </div>
			                        <div class="item">  
			                            <div class="left">
			                            	<img src="img/page3_pic3.jpg" alt="">
			                            </div>
			                            <div class="right">
			                            	<div>
				                            	<h3>Project 3</h3>
				                            	<p class="title">Facilis nec eros um ante ipsum primis  in cibus orci luctus et ultrices posuere cubilia Curae.</p>
				                            	<p>Quisque nulla. Vestibulum libero nisl, porta vel, scelerisque eget, maleat, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum  in faucibus orci luctus et ultrices posuere cubilia Cudisse sollicit.</p>
				                            	<p class="padding2 desc_btn"><a href="gallery-full_3.html" class="btn">View Gallery<span class="fa fa-angle-double-right"></span></a>
				                            	<p class="padding2 mobile_btn"><a href="project3.html" class="btn">View Gallery<span class="fa fa-angle-double-right"></span></a></p>
			                            	</div>
			                            </div>
			                        </div>
			                        <div class="item">  
			                            <div class="left">
			                            	<img src="img/page3_pic4.jpg" alt="">
			                            </div>
			                            <div class="right">
			                            	<div>
				                            	<h3>Project 4</h3>
				                            	<p class="title">Facilis nec eros um ante ipsum primis  in cibus orci luctus et ultrices posuere cubilia Curae.</p>
				                            	<p>Quisque nulla. Vestibulum libero nisl, porta vel, scelerisque eget, maleat, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum  in faucibus orci luctus et ultrices posuere cubilia Cudisse sollicit.</p>
				                            	<p class="padding2 desc_btn"><a href="gallery-full_4.html" class="btn">View Gallery<span class="fa fa-angle-double-right"></span></a>
				                            	<p class="padding2 mobile_btn"><a href="project4.html" class="btn">View Gallery<span class="fa fa-angle-double-right"></span></a></p>
			                            	</div>
			                            </div>
			                        </div>
			                    </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div data-id="contacts" id="page4">
			<a href="index.html" class="logo"><img src="img/logo.png" alt=""></a>
			<div class="bgHolder">
				<div class="bg4"></div>
				<div class="backgroundPlane"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-5 col-md-5 col-sm-5 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
								<h3>Contact</h3>
								<div class="formHolder">
									<form id="form1">
			                            <div class="success-message"> Contact form submitted!</div>
			                            <label class="name labelMargin">
			                              <input type="text" placeholder="name:" class="form-control" data-constraints="@Required @Pattern(regex=/^[a-zA-Z'][a-zA-Z-' ]+[a-zA-Z']?$/)"/>
			                              <span class="error">*This is not a valid name.</span> <span class="empty">*This field is required.</span>
			                            </label>
			                            <label class="email">
			                              <input type="email" placeholder="e-mail:" class="form-control" data-constraints="@Required @Email"/>
			                              <span class="error">*This is not a valid email address.</span> <span class="empty">*This field is required.</span>
			                            </label>
			                            <label class="message">
			                              <textarea placeholder="message:" class="form-control" data-constraints='@Required @Length(min=20,max=999999)'></textarea>
			                              <span class="error">*The message is too short.</span> <span class="empty">*This field is required.</span>
			                            </label>
			                            <div class="clearfix"></div>
			                            <div class="btns"><p class="anim_btn"><a href="gallery.html#" class="btn" data-type="reset">clear<span class="fa fa-angle-double-right"></span></a><a href="gallery.html#" class="btn" data-type="submit">submit<span class="fa fa-angle-double-right"></span></a></p></div>
			                        </form>
								</div>
								<img src="img/page4_pic1.png" id="page4_item1" alt="">
							</div>
						</div>
					</div>
				</div>	
			</div>
			<figure class="g_map"><iframe src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Brooklyn,+New+York,+NY,+United+States&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=61.282355,146.513672&amp;ie=UTF8&amp;hq=&amp;hnear=Brooklyn,+Kings,+New+York&amp;ll=40.649974,-73.950005&amp;spn=0.01628,0.025663&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
			</figure>
		</div>
	</article>
	<div id="other_pages" data-follow="location" data-type="switcher" data-flags="ajax">
	</div>
	<footer>
		<div class="container">
			<div class="row marg_1">
				<div class="col-lg-12">
					<a href="index.html" class="logo_footer"><img src="img/footer_logo.png" alt=""></a>
					<p class="copyright"><span id="year"></span> &copy; <a href="privacy.html">Privacy Policy</a><br><!-- {%FOOTER_LINK} --></p>
				</div>
			</div>
		</div>
	</footer>
</div>
<!-- coded by Cleric -->
<script type="text/javascript">
 var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7078796-5']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();</script>
</body>
</html>